@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
:root {
	--border_color: rgba(0, 0, 0, 0.15);
	--gray: #fafafa;
}

* {
	text-decoration: none;
}

body {
	background-color: var(--gray);
}
