@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
:root {
	--border_color: rgba(0, 0, 0, 0.15);
	--gray: #fafafa;
}

* {
	padding: 0;
	margin: 0;
	text-decoration: none;
}

body {
	background-color: var(--gray);
}

.content_wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid var(--border_color);
	width: 350px;
	margin: 50px auto;
	background-color: white;
}

.content_title {
	font-size: 3em;
	font-family: "Dancing Script", cursive;
	margin: 30px;
}

.content_sub-title {
	color: rgba(0, 0, 0, 0.65);
	text-align: center;
	font-size: 0.8em;
	width: 70%;
	margin-bottom: 30px;
}

.signup_form {
	display: flex;
	flex-direction: column;
}

.signup_username,
.signup_nickname,
.signup_pw,
.signup_email {
	all: unset;
	width: 270px;
	border: 0.5px solid var(--border_color);
	background-color: var(--gray);
	padding: 10px;
	margin: 5px;
	font-size: 0.8em;
	line-height: 1.2em;
	box-sizing: border-box;
}

.signup_btn {
	all: unset;
	width: 270px;
	background-color: #0095f6;
	color: white;
	text-align: center;
	box-sizing: border-box;
	border-radius: 5px;
	font-weight: bold;
	padding: 4px 0;
	margin: 10px auto;
	opacity: 0.5;
}

.signup_btn.actived {
	opacity: 1;
}

.error_message {
	font-size: 0.8em;
	color: red;
	margin: 15px;
}

.or {
	width: 270px;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-around;
	font-size: 0.8em;
	color: #dbdbdb;
	font-weight: bold;
	margin: 15px 0;
}

.or div {
	flex-grow: 1;
	flex-shrink: 1;
	height: 1px;
	background-color: #dbdbdb;
	position: relative;
	top: 0.45em;
}

.or span {
	padding: 0 26px;
}

.facebook_signup_wrapper {
	color: #385185;
	text-align: center;
	font-size: 0.8em;
}

.facebook_signup i {
	font-size: 1.5em;
}

.facebook_signup a {
	color: inherit;
	font-weight: bold;
}

.content_wrap {
	padding: 16px;
}

.content_wrap .signup_comment {
	font-size: 0.8em;
}

.content_wrap .signup_comment_link {
	color: #0095f6;
}
