{% extends "base.html" %}
{% load static %}

{% block css %}
    <link href="{% static 'css/photo_user_like.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="profile_wrap">
    {% include 'partials/profile_header.html' %}
    <nav class="profile_nav">
        <span class="photo_liked"><i class="fas fa-th"></i>좋아요한 게시물</span>
    <main class="photos">
    {% for photo in object_list %}
        <a href="{% url 'photo:detail' photo.id %}"><img src="{{photo.image.url}}" class="photo" alt="photo_user_liked"></a>
    {% endfor %}
    </main>
{% endblock %}