{% extends 'base.html' %}
{% block content %}

<h1> "{{user.username}}" Profile Update</h1>

    {% if error %}
    <div role="alert">
    <button type="button" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Error</strong> {{error}}
    </div>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <input type="submit" value="Update" />
    </form>
</p>

{% endblock %}