{% extends "base.html" %} 
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/photo_list.css' %}">
{% endblock %}
{% block content %}

    <section class="body_wrap">
        <main class="photos">
            {% for photo in object_list %}
                <article class="photos_photo">
                    <section class="user_info">
                        <a href="{% url 'accounts:profile' photo.user.profile.slug %}">
                        {% if photo.user.profile.profile_photo %}
                        <img src="{{ photo.user.profile.profile_photo.url }}" alt="user_photo" class="user_img">
                        {% else %}
                        <img src="{% static 'images/person.png' %}" alt="user_photo" class="user_img">
                        {% endif %}
                        </a>
                        <hgroup class="photo_info">
                            <h3 class="user_nickname">{{ photo.user.profile.nickname }}</h3>
                            <h4 class="place"></h4>
                        </hgroup>
                        <ul class="info_more">
                            <li><i class="fas fa-ellipsis-h"></i>
                                <ul>
                                    <li><a href="{% url 'photo:update' photo.pk %}">수정하기</a></li>
                                    <li>
                                        <form action="{% url 'photo:delete' photo.pk %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="next" value="{{ request.path }}">
                                            <input type="submit" onclick="return confirm('정말 삭제하시겠습니까?')" class="delete-instagram" value="삭제하기"></input>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </section>
                    <img class="photo_img" src="{{photo.image.url}}" alt="photo">
                    <div class="photo_pagination"><span class="page">●</span></div>
                    <section class="comment_wrap">
                        <div class="comment_icons">
                            <div class="column">
                                <i class="far fa-heart"></i>
                                <i class="far fa-comment"></i>
                                <i class="fas fa-location-arrow"></i>
                            </div>
                            <i class="far fa-bookmark"></i>
                        </div>
                        <div class="likes_wrap">
                            <img src="{% static 'images/person.png' %}" alt="person_photo" class="likes_img"><h5 class="likes_count"><span class="user_nickname">h_house님 </span><span class="count">외 74명</span>이 좋아합니다</h5>
                        </div>
                        <h4 class="photo_content"><span class="user_nickname">{{ photo.user.profile.nickname }} </span>  {{ photo.content }}</h4>
                                                                                            <!-- with: 단순히 문자열를 바꿈
                                                                                                ex) "/detail/{{pk}}"->   "/detail/{{photo.id}}"  -->
                        <div class="comment_box">{% include 'comment/comment_container.html' with comments=photo.comments pk=photo.id%}</div>
                        <small class="timezone">{{ photo.timedelta_string }}</small>
                        <div class="comment_add">
                            <form class="comment_form" action="{% url 'photo:comment_create' photo.pk %}" method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <input type="submit">
                            </form>
                        </div>
                    </section>
                </article>
            {% endfor %}
        </main>
        <aside class="aside">

        </aside>
    </section>

    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number}} of {{ page_obj.paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                    <a href="/?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}

{% endblock %}

{% block js %}
    <script>
        const comment_inputs = document.querySelectorAll(".comment_input");

        for (input of comment_inputs) {
            input.addEventListener("keypress", (event)=> {
                if (event.keyCode === 13 || event.which === 13) {
                    event.preventDefault();

                    const text = event.target.value;
                    event.target.value = "";

                    if (text === "") return
                    const url = event.target.closest("form").getAttribute("action");
                    const request = new XMLHttpRequest();   //  Request 객체 생성
                    const data = new FormData();        // Form 객체 생성

                    data.append("text", text);      // Form text에 데이터 삽입
                    // data.append("csrfmiddlewaretoken", "{{ csrf_token }}");

                    request.open("POST", url, true);        // Request를 POST 메소드, url에 async로 설정
                    request.setRequestHeader('X-CSRFToken', cookies['csrftoken']);      // POST에 {{ csrf_token }}
                    // request.setRequestHeader('X-Requested-With','XMLHttpRequest');
                    // request.setRequestHeader("Content-type", 'application/json; charset=UTF-8');    // Header 설정

                    request.send(data);           // Send
                    
                    request.onload = () => {
                        if (request.status === 200) {
                            const result = request.responseText;
                            event.target.closest(".comment_wrap").querySelector(".comment_box").innerHTML = result;
                        } else {
                            console.error(request.responseText);
                        }
                    }
                }
            })
        }
        function parse_cookies() {
            const cookies = {};
            if (document.cookie && document.cookie !== '') {
                document.cookie.split(';').forEach(function (c) {
                    const m = c.trim().match(/(\w+)=(.*)/);
                    if(m !== undefined) {
                        cookies[m[1]] = decodeURIComponent(m[2]);
                    }
                });
            }
            return cookies;
        }
        const cookies = parse_cookies();

                                   
    </script>
{% endblock %}