{% extends "base.html" %} 
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/photo_list.css' %}">
{% endblock %}
{% block content %}

    <section class="body_wrap">
        <main class="photos">
            {% for photo in object_list %}
                <article class="photos_photo">
                    <section class="user_info">
                        <a href="{% url 'accounts:profile' photo.user.profile.slug %}">
                        <img src="{{ photo.user.profile.profile_photo.url }}" alt="user_photo" class="user_img">
                        </a>
                        <hgroup class="photo_info">
                            <h3 class="user_nickname"><a href="{% url 'accounts:profile' photo.user.profile.slug %}">{{ photo.user.profile.nickname }}</a></h3>
                            <h4 class="place"></h4>
                        </hgroup>
                        <ul class="info_more">
                            <li><i class="fas fa-ellipsis-h"></i>
                                <ul>
                                    <li><a href="{% url 'photo:update' photo.pk %}">수정하기</a></li>
                                    <li>
                                        <form action="{% url 'photo:delete' photo.pk %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="next" value="{{ request.path }}">
                                            <input type="submit" onclick="return confirm('정말 삭제하시겠습니까?')" class="delete-instagram" value="삭제하기"></input>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </section>
                    <img class="photo_img" src="{{photo.image.url}}" alt="photo">
                    <div class="photo_pagination"><span class="page">●</span></div>
                    <section class="comment_wrap">
                        <div class="comment_icons">
                            <div class="column">
                                <i class="
                                {% if current_user in photo.like.all %}fas{% else %}far{% endif %} fa-heart"
                                 id="like_btn" data-id="{{photo.id}}" onclick="photoLikeAjax(event)"></i>
                                <i class="far fa-comment" onclick="focusToCommentForm(event)"></i>
                            </div>
                          <i class="far fa-bookmark"></i>
                        </div>
                        <div class="likes_wrap">
                            <img src="{% static 'images/person.png' %}" alt="person_photo" class="likes_img">
                            <h5 class="likes_count">
                                {% if photo.total_likes %}<span class="user_nickname">{{photo.like.last.profile.nickname}} 외</span>
                                <span class="count"> {% endif %}<span class="total_likes">{{ photo.total_likes }}</span>명</span>이 좋아합니다
                            </h5>
                        </div>
                        <h4 class="photo_content"><span class="user_nickname">{{ photo.user.profile.nickname }} </span>  {{ photo.content }}</h4>
                        {% if current_user in photo.comments.last.like.all %}
                        <div class="comment_box">{% include 'comment/comment_container.html' with comments=photo.comments pk=photo.id likeClass="fas" %}</div>
                        {% else %}
                        <div class="comment_box">{% include 'comment/comment_container.html' with comments=photo.comments pk=photo.id likeClass="far" %}</div>
                        {% endif %}
                        <small class="timezone">{{ photo.timedelta_string }}</small>  
                        <div class="comment_add">
                            <form class="comment_form" action="{% url 'photo:comment_create_ajax' photo.pk %}" method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <input type="submit">
                            </form>
                        </div>
                    </section>
                </article>
                {% endfor %}
                {% if page_obj.has_next %}
                    <a class="next_page" href="?page={{ page_obj.next_page_number }}" style="display: none;">More</a>
                {% endif %}
            </main>
            <aside class="aside">

        </aside>
    </section>
{% endblock %}

{% block js %}
    <script>
        const focusToCommentForm = (event) => {
            event.target.closest(".comment_wrap").querySelector(".comment_input").focus();
        }

        const pageAjax = () => {
            let isExecuted = false;
            
            document.addEventListener("scroll", () => {
                if (window.pageYOffset + window.innerHeight + 150 >= document.body.offsetHeight && !isExecuted) {
                    isExecuted = true;
                    // const search_params = new URLSearchParams(window.location.search); // 현재 페이지의 GET인자를 가공
                    const next_page_url= document.querySelector(".next_page").getAttribute("href");     // html에서 url받음
                    document.querySelector(".next_page").parentNode.removeChild(document.querySelector(".next_page"));  // anchor 요소 제거
                    // const current_page = parseInt(search_params.get('page')) || 1;
                    // const next_page_url = '?page=' + (current_page + 1); // 다음 페이지를 요청하기 위한 URL 생성
                    if (next_page_url) {
                        fetch(next_page_url, {
                            method: "GET",
                        }).then(res => {
                            if (res.status === 200) res.text().then(text =>{
                                try {insertNextPageInput(text);}
                                finally {
                                        // history.pushState({}, '', next_page_url)
                                        renderNextPage(text);
                                        commentAjax(); //  AJAX로 렌더링된 input폼에 댓글 AJAX 적용
                                        photoLikeAjax();
                                    }
                                })
                        })

                        setTimeout(() => {
                            isExecuted = false;
                        }, 600);
                    }
                }
                const insertNextPageInput = (text) => {
                    const next_page_markup = text.match(/<a class="next_page" href="\?page=.+">More<\/a>/)[0]
                    document.querySelector(".photos").insertAdjacentHTML("beforeend", next_page_markup);
                }

                const renderNextPage = (text) => {
                    text = text.replace(/\n|\s{3,}/g, '').match(/<article class="photos_photo">.*<\/article>/g)[0];
                    document.querySelector(".photos").insertAdjacentHTML("beforeend", text);
                }
            })
        }

        const commentAjax = ()=> {

            let commentInputs = [...document.querySelectorAll(".comment_input")]
            commentInputs = commentInputs.length % 2 === 0 ? commentInputs.slice(-2): commentInputs.slice(-1);
            const cookies = parseCookies();

            for (input of commentInputs) {
                input.addEventListener("keypress", (event)=> {
                    if (event.keyCode === 13 || event.which === 13) {
                        event.preventDefault();

                        const text = event.target.value;
                        event.target.value = "";

                        if (text === "") return
                        const url = event.target.closest("form").getAttribute("action");
                        const data = new FormData();        // Form 객체 생성

                        data.append("text", text);      // Form text에 데이터 삽입

                        fetch(url, {
                            method: "POST",
                            body: data,
                            headers: {'X-CSRFToken': cookies['csrftoken']}
                        }).then(res => {
                            if (res.status === 200) {
                                res.text().then(text=> {
                                    event.target.closest(".comment_wrap").querySelector(".comment_box").innerHTML = text;
                                }).catch(err => console.log(err))
                            }
                        })

                        // request.open("POST", url, true);        // Request를 POST 메소드, url에 async로 설정
                        // request.setRequestHeader('X-CSRFToken', cookies['csrftoken']);      // POST에 {{ csrf_token }}
                        // // request.setRequestHeader('X-Requested-With','XMLHttpRequest');
                        // // request.setRequestHeader("Content-type", 'application/json; charset=UTF-8');    // Header 설정

                        // request.send(data);           // Send
                        
                        // request.onload = () => {
                        //     if (request.status === 200) {
                        //         const result = request.responseText;
                        //         event.target.closest(".comment_wrap").querySelector(".comment_box").innerHTML = result;
                        //     } else {
                        //         console.error(request.responseText);
                        //     }
                        // }
                    }
                })
            }
        }

        ///////////// Like

        const toggleLikeBtn = (isCreated, event) => {
            const target_CL = event.target.classList;
            if (isCreated) {
                target_CL.remove("far")
                target_CL.add("fas")
            } else {
                target_CL.remove("fas")
                target_CL.add("far")
            }    
        }
        
        const photoLikeAjax = (event) => {
            const cookies = parseCookies();
            const pk = event.target.dataset.id;
            const url = "{% url 'photo:photo_like' %}";
            const headers =  { "Content-Type": "application/x-www-form-urlencoded",
                                "X-CSRFToken": cookies["csrftoken"],
                                "X-Requested-With": "XMLHttpRequest"};
            
            fetch(url, {
                method: "POST",
                body:  "pk=" + pk,
                headers, }).then(res => {
                if (res.status === 200) {
                    res.json().then(data => {
                        if (data.like_count === 1 && data.is_created)
                            event.target.closest(".comment_wrap").querySelector(".total_likes").textContent = data.nickname+" 외 1";
                        else if (data.like_count === 0) {
                            event.target.closest(".comment_wrap").querySelector(".user_nickname").textContent = "";
                            event.target.closest(".comment_wrap").querySelector(".total_likes").textContent = data.like_count;
                        }
                        else
                            event.target.closest(".comment_wrap").querySelector(".total_likes").textContent = data.like_count;

                        toggleLikeBtn(data.is_created, event);
                    })
                }
            });
        }

            // let like_btns = [...document.querySelectorAll("#like_btn")];
            // like_btns = like_btns.length % 2 === 0 ? like_btns.slice(-2) : like_btns.slice(-1);

            // for (like_btn of like_btns) {
            //     like_btn.addEventListener("click", handleClickPhotoLikeBtn)
            // }


        const commentLikeAjax = (event) => {
            const cookies = parseCookies();
            const pk = event.target.dataset.id;
                const url = "{% url 'photo:comment_like' %}";
                const headers =  { "Content-Type": "application/x-www-form-urlencoded",
                                    "X-CSRFToken": cookies["csrftoken"],
                                    "X-Requested-With": "XMLHttpRequest"};

            fetch(url, {
                method: "POST",
                body:  "pk=" + pk,
                headers, }).then(res => {
                if (res.status === 200) {
                    res.json().then(data => {
                        toggleLikeBtn(data.is_created, event);
                    })
                }
            });
        }

        const init = () => {
            commentAjax();
            pageAjax();
        }

        init();
    </script>
{% endblock %}