{% extends "base.html" %} 
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/photo_list.css' %}">
{% endblock %}
{% block content %}

    <section class="body_wrap">
        <main class="photos">
            {% for photo in object_list %}
                <article class="photos_photo">
                    <section class="user_info">
                        <a href="{% url 'accounts:profile' photo.user.profile.slug %}">
                        {% if photo.user.profile.profile_photo %}
                        <img src="{{ photo.user.profile.profile_photo.url }}" alt="user_photo" class="user_img">
                        {% else %}
                        <img src="{% static 'images/person.png' %}" alt="user_photo" class="user_img">
                        {% endif %}
                        </a>
                        <hgroup class="photo_info">
                            <h3 class="user_nickname">{{ photo.user.profile.nickname }}</h3>
                            <h4 class="place"></h4>
                        </hgroup>
                        <ul class="info_more">
                            <li><i class="fas fa-ellipsis-h"></i>
                                <ul>
                                    <li><a href="{% url 'photo:update' photo.pk %}">수정하기</a></li>
                                    <li>
                                        <form action="{% url 'photo:delete' photo.pk %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="next" value="{{ request.path }}">
                                            <input type="submit" onclick="return confirm('정말 삭제하시겠습니까?')" class="delete-instagram" value="삭제하기"></input>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </section>
                    <img class="photo_img" src="{{photo.image.url}}" alt="photo">
                    <div class="photo_pagination"><span class="page">●</span></div>
                    <section class="comment_wrap">
                        <div class="comment_icons">
                            <div class="column">
                                <i class="far fa-heart"></i>
                                <i class="far fa-comment"></i>
                                <i class="fas fa-location-arrow"></i>
                            </div>
                            <i class="far fa-bookmark"></i>
                        </div>
                        <div class="likes_wrap">
                            <img src="{% static 'images/person.png' %}" alt="person_photo" class="likes_img"><h5 class="likes_count"><span class="user_nickname">h_house님 </span><span class="count">외 74명</span>이 좋아합니다</h5>
                        </div>
                        <h4 class="photo_content"><span class="user_nickname">{{ photo.user.profile.nickname }} </span>  {{ photo.content }}</h4>
                        <div class="comment_box">{% include 'comment/comment_container.html' with comments=photo.comments pk=photo.id%}</div>
                        <small class="timezone">{{ photo.timedelta_string }}</small>
                        <div class="comment_add">
                            <form class="comment_form" action="{% url 'photo:comment_create' photo.pk %}" method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <input type="submit">
                            </form>
                        </div>
                    </section>
                </article>
            {% endfor %}
        </main>
        <aside class="aside">

        </aside>
    </section>
{% endblock %}

{% block js %}
    <script>
        function page_ajax() {
            let isExecuted = false;
            
            document.addEventListener("scroll", ()=>{
                if (window.pageYOffset + window.innerHeight + 150 >= document.body.offsetHeight && !isExecuted) {
                    isExecuted = true;
                    const search_params = new URLSearchParams(window.location.search); // 현재 페이지의 GET인자를 가공
                    const current_page = parseInt(search_params.get('page')) || 1;
                    const next_page_url = '?page=' + (current_page + 1); // 다음 페이지를 요청하기 위한 URL 생성

                    fetch(next_page_url, {
                        method: "GET",
                    }).then(res => {
                        if (res.status === 200) {
                            res.text().then(text =>{
                                text = text.replace(/(<.*>)([\n\s]*)/g, '$1').match(/<article class="photos_photo">.*<\/article>/g)[0];
                                document.querySelector(".photos").insertAdjacentHTML("beforeend", text);
                                history.pushState({}, '', next_page_url)
                            })
                        }
                    })

                    setTimeout(() => {
                        isExecuted = false;
                    }, 1000);
                } 

            })
        }

        function comment_ajax () {
            const comment_inputs = document.querySelectorAll(".comment_input");
            const cookies = parse_cookies();

            for (input of comment_inputs) {
                input.addEventListener("keypress", (event)=> {
                    if (event.keyCode === 13 || event.which === 13) {
                        event.preventDefault();

                        const text = event.target.value;
                        event.target.value = "";

                        if (text === "") return
                        const url = event.target.closest("form").getAttribute("action");
                        // const request = new XMLHttpRequest();   //  Request 객체 생성
                        const data = new FormData();        // Form 객체 생성

                        data.append("text", text);      // Form text에 데이터 삽입
                        // data.append("csrfmiddlewaretoken", "{{ csrf_token }}");

                        fetch(url, {
                            method: "POST",
                            body: data,
                            headers: {'X-CSRFToken': cookies['csrftoken']}
                        }).then(res => {
                            if (res.status === 200) {
                                res.text().then(text=> {
                                    event.target.closest(".comment_wrap").querySelector(".comment_box").innerHTML = text;
                                }).catch(err => console.log(err))
                            }
                        })

                        // request.open("POST", url, true);        // Request를 POST 메소드, url에 async로 설정
                        // request.setRequestHeader('X-CSRFToken', cookies['csrftoken']);      // POST에 {{ csrf_token }}
                        // // request.setRequestHeader('X-Requested-With','XMLHttpRequest');
                        // // request.setRequestHeader("Content-type", 'application/json; charset=UTF-8');    // Header 설정

                        // request.send(data);           // Send
                        
                        // request.onload = () => {
                        //     if (request.status === 200) {
                        //         const result = request.responseText;
                        //         event.target.closest(".comment_wrap").querySelector(".comment_box").innerHTML = result;
                        //     } else {
                        //         console.error(request.responseText);
                        //     }
                        // }
                    }
                })
            }
        }

        function parse_cookies() {
            const cookies = {};
            if (document.cookie && document.cookie !== '') {
                document.cookie.split(';').forEach(function (c) {
                    const m = c.trim().match(/(\w+)=(.*)/);
                    if(m !== undefined) {
                        cookies[m[1]] = decodeURIComponent(m[2]);
                    }
                });
            }
            return cookies;
        }

        function init () {
            comment_ajax();
            page_ajax();
        }

        init();
    </script>
{% endblock %}

