{% extends "base2.html" %}

{% load static %}
<!-- css 설정 편의를 위한 라이브러리 -->
{% load widget_tweaks %}    
<!-- 소셜어카운트를 사용한다는 표시 -->
{% load socialaccount %}
<!-- 소셜에서 제공하는 템플릿을 그대로 쓰기 위해 -->
{% providers_media_js %}

{% block css%}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
    <!-- 로그인 상태 -->
    {% if user.is_active %}
    <h2> Welcome, {{user.username}} </h2>
    <a href="{% url 'accounts:logout' %}">로그아웃</a>

    <!-- 로그아웃 상태 -->
    {% else %}
    <content class="content_wrap">
        <h1 class="content_title">Instagram</h1>
        <form method="post" class="login_form">
            {% csrf_token %}
            <!-- username input을 렌더링 -->
            {% render_field form.username class="login_id" placeholder="전화번호, 사용자 이름 또는 이메일" %}
            <!-- password input을 렌더링 -->
            {% render_field form.password class="login_pw" placeholder="비밀번호" %}

            <button type="submit" class="login_btn">로그인</button>
        </form>

        <div class="or">
            <div class="line"></div>
            <span>또는</span>
            <div class="line"></div>
        </div>
        <div class="facebook_login_wrapper">
            <div class="facebook_login">
                <a href="{% provider_login_url 'facebook' %}">
                    <i class="fab fa-facebook-square"></i>
                    <span>Facebook으로 로그인</span>
                </a>
            </div>
        </div>
        <!-- 로그인 실패 -->
        {% if form.errors %}
            <p class="error_message">잘못된 ID 또는 비밀번호입니다. 다시 확인하세요</p>
        {% endif %}

        <!-- next로 왔을 경우 -->
        {% if next %}
            {% if user.is_authenticated %}
                <p class="error_message">이 페이지를 볼 권한이 없습니다.</p>
            {% else %}
                <p class="error_message">이 페이지를 보기 위해선 로그인 해주세요.</p>
            {% endif %}
        {% endif %}
    </content>
    <content class="content_wrap">
        <p class="signup_comment">계정이 없으신가요?
        <a href="{% url 'accounts:signup' %}" class="signup_comment_link">가입하기</a></p>
    </content>

    {% endif %}

{% endblock %}

{% block js%}
<script>
    const make_activate_login_btn = () => {
        const login_pw = document.querySelector(".login_pw");
        const login_btn_classList = document.querySelector(".login_btn").classList;
        login_pw.addEventListener("input", ()=> {
            // 비밀번호 input 4글자 이상일 때 버튼 활성화
            if (login_pw.value.length >= 4) {
                if (!login_btn_classList.contains("actived")) {
                    login_btn_classList.add("actived");
                }
            } else {
                if (login_btn_classList.contains("actived")) {
                    login_btn_classList.remove("actived");
                }
            }
        })
    }

    const init = () => {
        make_activate_signup_btn();
    }

    init();
</script>
{% endblock %}
