{% extends "base2.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block content%}
<content class="content_wrap">
    <h1 class="content_title">Instagram</h1>
    <h2 class="content_sub-title">회원가입되었습니다!</h2>
    <div class="facebook_signup_wrapper">
    </div>

    <div class="or">
        <div class="line"></div>
        <div class="line"></div>
    </div>
    
</content>
<content class="content_wrap">
    <p class="signup_comment">친구들의 사진과 동영상을 공유해보세요
    <a href="{% url 'accounts:login' %}" class="signup_comment_link">로그인</a></p>
</content>
{% endblock %}