{% extends "base2.html" %}

{% load static %}
<!-- css 설정 편의를 위한 라이브러리 -->
{% load widget_tweaks %}    
<!-- 소셜어카운트를 사용한다는 표시 -->
{% load socialaccount %}
<!-- 소셜에서 제공하는 템플릿을 그대로 쓰기 위해 -->
{% providers_media_js %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block content%}
<content class="content_wrap">
    <h1 class="content_title">Instagram</h1>
    <h2 class="content_sub-title">친구들의 사진과 동영상을 보려면 가입하세요.</h2>
    <div class="facebook_signup_wrapper">
        <div class="facebook_signup">
            <a href="{% provider_login_url 'facebook' %}">
                <i class="fab fa-facebook-square"></i>
                <span>Facebook으로 로그인</span>
            </a>
        </div>
    </div>

    <div class="or">
        <div class="line"></div>
        <span>또는</span>
        <div class="line"></div>
    </div>

    <form method="post" class="signup_form" enctype="multipart/form-data">
        {% csrf_token %}
        {% render_field user_form.email class="signup_email" placeholder="이메일 주소" %}
        <!-- profile.nickname 렌더링 -->
        {% render_field profile_form.nickname class="signup_nickname" placeholder="닉네임" %}
        <!-- username input 렌더링 -->
        {% render_field user_form.username class="signup_username" placeholder="아이디" %}
        <!-- password input 렌더링 -->
        {% render_field user_form.password1 class="signup_pw" id="signup_pw1" placeholder="비밀번호" %}
        {% render_field user_form.password2 class="signup_pw" id="signup_pw2" placeholder="비밀번호 확인" %}


        
        <button type="submit" class="signup_btn">가입</button>
    </form>

    <!-- 로그인 실패 -->
    {% if form.password1.errors %}
        <p class="error_message">잘못된 ID 또는 비밀번호 데이터 형식입니다. 다시 확인하세요</p>
    {% elif form.username.errors %}
        <p class="error_message">이미 존재하는 이름(아이디) 입니다.</p>
    {% elif form.errors %}
        <p class="error_message">유효한 패스워드가 아닙니다. 숫자와 문자를 조합하여 10자 이상 설정해주세요.</p>
    {% endif %}

    
</content>
<content class="content_wrap">
    <p class="signup_comment">계정이 있으신가요?
    <a href="{% url 'accounts:login' %}" class="signup_comment_link">로그인</a></p>
</content>
{% endblock %}

{% block js %}
<script>
    const make_activate_signup_btn = () => {
        const signup_pw1 = document.querySelector("#signup_pw1");
        const signup_pw2 = document.querySelector("#signup_pw2");
        const signup_btn_claasList = document.querySelector(".signup_btn").classList;

        const pw_isEqual = () =>{
            // 비밀번호가 같으면 가입버튼 활성화
            if (signup_pw1.value === signup_pw2.value) {
                if (!signup_btn_claasList.contains("actived")) {
                    signup_btn_claasList.add("actived");
                }
            } else {
                if (signup_btn_claasList.contains("actived")) {
                    signup_btn_claasList.remove("actived");
                }
            }
        }

        signup_pw1.addEventListener("input", pw_isEqual)
        signup_pw2.addEventListener("input", pw_isEqual)
    }
    

    const init = () => {
        make_activate_signup_btn();
    }

    init();
</script>
{% endblock %}