{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ad755395c3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!-- 개별 CSS -->
    {% block css %}
    {% endblock %}
    <title>Instagram</title>
</head>
<body>
    <nav class="nav">
        <div class="nav_wrap">
            <a href="{% url 'photo:list' %}"><img src="{% static 'images/logo.png'%}" alt="logo"></a>
            <div class="input_wrap">
                <i class="fas fa-search"></i>
                <div class="search_form">
                    <input type="search" name="keyword" class="nav_input" placeholder="검색">
                    <div class="search_result">
                    </div>
                </div>
            </div>
            <div class="nav_icons">
                <a href="{% url 'photo:list' %}"><i class="fas fa-home"></i></a>
                <a href="{% url 'photo:all_list' %}"><i class="far fa-compass"></i></a>
                <a href="{% url 'accounts:user_like_photo' user.profile.slug %}"><i class="far fa-heart"></i></a>
                {% if user.profile.slug %}
                <a href="{% url 'accounts:profile' user.profile.slug %}"><img src="{{user.profile.profile_photo.url}}" alt="user_profile_image"></a>
                {% endif %}
            </div>
        </div>
    </nav>
    <!-- 개별 본문 내용 -->
    {% block content %}
    {% endblock %}

    <script>
        const parseCookies = ()=> {
            const cookies = {};
            if (document.cookie && document.cookie !== '') {
                document.cookie.split(';').forEach(function (c) {
                    const m = c.trim().match(/(\w+)=(.*)/);
                    if(m !== undefined) {
                        cookies[m[1]] = decodeURIComponent(m[2]);
                    }
                });
            }
            return cookies;
        }

        const searchUser = (event) => {
            event.preventDefault();
            const value = event.target.value;   
            if (value == "" || value == null) return        
            const url = "{% url 'accounts:search_result' %}?keyword=" + value;
            const headers =  { "Content-Type": "application/x-www-form-urlencoded",
                                    "X-Requested-With": "XMLHttpRequest"};

            fetch(url, {
                method: "GET",
                headers, }).then(res => {
                if (res.status === 200) {
                    res.text().then(data => {
                        document.querySelector(".search_result").innerHTML = data;
                    })
                }
            });
        }
        // 유저 검색 결과 DB에서 AJAX로 가져오기
        document.querySelector(".nav_input").addEventListener("input", searchUser);

        // 서치폼 CSS 토글
        document.querySelector(".nav_input").addEventListener("focus", () => document.querySelector(".search_result").style.visibility = "visible");
        document.querySelector(".nav_input").addEventListener("blur", () => {setTimeout(()=>document.querySelector(".search_result").style.visibility = "hidden", 100)});
    </script>
    {% block js %}
    {% endblock %}
</body>
</html>