{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ad755395c3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!-- 개별 CSS -->
    {% block css %}
    {% endblock %}
    <title>Instagram</title>
</head>
<body>
    <nav class="nav">
        <div class="nav_wrap">
            <a href="{% url 'photo:list' %}"><img src="{% static 'images/logo.png'%}" alt="logo"></a>
            <div class="input_wrap">
                <i class="fas fa-search"></i>
                <input type="search" class="nav_input" placeholder="검색">
            </div>
            <div class="nav_icons">
                <a href="{% url 'photo:list' %}"><i class="fas fa-home"></i></a>
                <i class="fas fa-location-arrow"></i>
                <i class="far fa-compass"></i>
                <a href="{% url 'accounts:user_like_photo' user.profile.slug %}"><i class="far fa-heart"></i></a>
                {% if user.profile.slug %}
                <a href="{% url 'accounts:profile' user.profile.slug %}"><img src="{{user.profile.profile_photo.url}}" alt="user_profile_image"></a>
                {% endif %}
            </div>
        </div>
    </nav>
    <!-- 개별 본문 내용 -->
    {% block content %}
    {% endblock %}

    <script>
        const parseCookies = ()=> {
            const cookies = {};
            if (document.cookie && document.cookie !== '') {
                document.cookie.split(';').forEach(function (c) {
                    const m = c.trim().match(/(\w+)=(.*)/);
                    if(m !== undefined) {
                        cookies[m[1]] = decodeURIComponent(m[2]);
                    }
                });
            }
            return cookies;
        }
    </script>
    {% block js %}
    {% endblock %}
</body>
</html>